.screen-3{
    width: 100%;
    height: 1130px;
    background: #181C1C;
    display: flex;
    flex-direction: column;
}

.project-box-1{
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 450px;
    border-radius:4px;
    background: #272B2B;
    margin-top: 64px;
    margin-left: 340px;
    padding-left: 70px;
}

.project-box-1m{
    display:none;
    flex-direction: column;
    width: 470px;
    height: 570px;
    border-radius:4px;
    background: #272B2B;
    margin-top: 64px;
    margin-left: 9vw;
    padding-left: 40px;
}

.project-box-s{
    display:none;
    flex-direction: column;
    width: 84vw;
    height: 360px;
    border-radius:4px;
    background: #272B2B;
    margin-top: 64px;
    margin-left: 8vw;
    padding-left: 30px;
}

.tech-1{
    color:#F56565;
    font-family: 'Raleway';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    padding-top : 15px;
}

@media(max-width:1550px){
    .pictures{
        padding-left: 5vw;
    }
    .carousel-image{
        min-width: 39vw;
        margin: 0 9px;
    }
    .scroll-button-l {
        padding: 12px 14px;
        font-size: 19px; 
    }
    .scroll-button-r {
        padding: 12px 14px;
        font-size: 19px;
        margin-left: 1vw; 
    }
    .screen-3{
        height:1150px
    }
    .project-box-1m{
        display: none;
    }
    .project-box-s{
        display: none;
    }
    .project-box-1{
        display: flex;
        height: 61vh;
        width: 73vw;
        margin-left: 170px;
    }
    .project-text{
        font-size: 18px;
        width: 66vw;
        padding-bottom: 20px;
    }
    .tech-1{
        font-size: 22px;
    }
    .project-text-1{
        font-size: 17.5px;
        width: 87vw;
        padding-bottom: 0px;
    }
}
@media(max-width:1420px){
    .back-btn{
        width: 110px;
        height: 44px;
        font-size: 17px;
    }
    .heading-2{
        font-size: 34px;
        padding-left: 110px;
    }
    .pictures{
        padding-left: 5vw;
    }
    .carousel-image{
        min-width: 38vw;
        margin: 0 9px;
    }
    .scroll-button-l {
        padding: 12px 14px;
        font-size: 18px; 
    }
    .scroll-button-r {
        padding: 12px 14px;
        font-size: 18px;
        margin-left: 1vw; 
    }
    .screen-3{
        height:1180px
    }
    .project-box-1m{
        display: none;
    }
    .project-box-s{
        display: none;
    }
    .project-box-1{
        display: flex;
        height: 61vh;
        width: 78vw;
        margin-left: 110px;
    }
    .project-text{
        font-size: 18px;
        width: 66vw;
        padding-bottom: 20px;
    }
    .tech-1{
        font-size: 22px;
    }
    .project-text-1{
        font-size: 17.5px;
        width: 87vw;
        padding-bottom: 0px;
    }

}

@media(max-width:1280px){
    .back-btn{
        width: 105px;
        height: 43px;
        font-size: 16px;
    }
    .heading-2{
        font-size: 32px;
        padding-left: 100px;
    }
    .pictures{
        padding-left: 5vw;
    }
    .carousel-image{
        min-width: 37vw;
        margin: 0 8px;
    }
    .scroll-button-l {
        padding: 11px 13px;
        font-size: 17px; 
    }
    .scroll-button-r {
        padding: 11px 13px;
        font-size: 17px;
        margin-left: 1vw; 
    }
    .screen-3{
        height:1120px
    }
    .project-box-1m{
        display: none;
    }
    .project-box-s{
        display: none;
    }
    .project-box-1{
        display: flex;
        height: 61vh;
        width: 78vw;
        margin-left: 110px;
    }
    .project-text{
        font-size: 16px;
        width: 66vw;
        padding-bottom: 20px;
    }
    .tech-1{
        font-size: 20px;
    }
    .project-text-1{
        font-size: 15.5px;
        width: 87vw;
        padding-bottom: 0px;
    }
}

@media(max-width:1150px){
    .back-btn{
        width: 100px;
        height: 42px;
        font-size: 15px;
    }
    .heading-2{
        font-size: 30px;
        padding-left: 90px;
    }
    .pictures{
        padding-left: 5vw;
    }
    .carousel-image{
        min-width: 36vw;
        margin: 0 8px;
    }
    .scroll-button-l {
        padding: 10px 12px;
        font-size: 16px; 
    }
    .scroll-button-r {
        padding: 10px 12px;
        font-size: 16px;
        margin-left: 1vw; 
    }
    .screen-3{
        height:1100px
    }
    .project-box-1{
        display: none;
    }
    .project-box-s{
        display: none;
    }
    .project-box-1m{
        display: flex;
        height: 62vh;
        width: 78vw;
        padding-left: 100px;
    }
    .project-text-m{
        font-size: 17px;
        width: 58vw;
    }
    .tech-1{
        font-size: 22px;
    }
    .project-text-1m{
        font-size: 17px;
        width: 79vw;
        padding-bottom: 100px;
    }
    .project-text-1m-git{
        font-size: 17px;
        width: 74vw;
    }
    
}

@media(max-width:1020px){
    .back-btn{
        width: 95px;
        height: 41px;
        font-size: 14px;
    }
    .heading-2{
        font-size: 28px;
        padding-left: 80px;
    }
    .pictures{
        padding-left: 5vw;
    }
    .carousel-image{
        min-width: 36vw;
        margin: 0 8px;
    }
    .scroll-button-l {
        padding: 10px 12px;
        font-size: 15px; 
    }
    .scroll-button-r {
        padding: 10px 12px;
        font-size: 15px;
        margin-left: 1vw; 
    }
    .screen-3{
        height:1100px
    }
    .project-box-1{
        display: none;
    }
    .project-box-s{
        display: none;
    }
    .project-box-1m{
        display: flex;
        height: 64vh;
        width: 78vw;
        padding-left: 70px;
    }
    .project-text-m{
        font-size: 17px;
        width: 62vw;
    }
    .tech-1{
        font-size: 22px;
    }
    .project-text-1m{
        font-size: 17px;
        width: 79vw;
        padding-bottom: 100px;
    }
    .project-text-1m-git{
        font-size: 17px;
        width: 74vw;
    }
}

@media(max-width:900px){
    .back-btn{
        width: 90px;
        height: 40px;
        font-size: 13px;
    }
    .heading-2{
        font-size: 26px;
        padding-left: 65px;
    }
    .pictures{
        padding-left: 5vw;
    }
    .carousel-image{
        min-width: 35vw;
        margin: 0 7px;
    }
    .scroll-button-l {
        padding: 10px 12px;
        font-size: 15px; 
    }
    .scroll-button-r {
        padding: 10px 12px;
        font-size: 15px;
        margin-left: 1vw; 
    }
    .screen-3{
        height:1050px
    }
    .project-box-1{
        display: none;
    }
    .project-box-s{
        display: none;
    }
    .project-box-1m{
        display: flex;
        height: 64vh;
        width: 78vw;
    }
    .project-text-m{
        font-size: 17px;
        width: 66vw;
        padding-bottom: 20px;
    }
    .tech-1{
        font-size: 22px;
    }
    .project-text-1m{
        font-size: 17px;
        width: 79vw;
        padding-bottom: 100px;
    }
    .project-text-1m-git{
        font-size: 17px;
        width: 74vw;
    }
}

@media(max-width:830px){
    .back-btn{
        width: 85px;
        height: 39px;
        font-size: 12px;
    }
    .heading-2{
        font-size: 24px;
        padding-left: 60px;
    }
    .pictures{
        padding-left: 5vw;
    }
    .carousel-image{
        min-width: 35vw;
        margin: 0 7px;
    }
    .scroll-button-l {
        padding: 9px 11px;
        font-size: 14px; 
    }
    .scroll-button-r {
        padding: 9px 11px;
        font-size: 14px;
        margin-left: 1vw; 
    }
    .screen-3{
        height:1020px
    }
    .project-box-1{
        display: none;
    }
    .project-box-s{
        display: none;
    }
    .project-box-1m{
        display: flex;
        height: 63vh;
        width: 78vw;
    }
    .project-text-m{
        font-size: 16px;
        width: 66vw;
    }
    .tech-1{
        font-size: 19px;
    }
    .project-text-1m{
        font-size: 16px;
        width: 79vw;
    }
    .project-text-1m-git{
        font-size: 16px;
        width: 74vw;
    }
}

@media(max-width:768px){
    .back-btn{
        width: 85px;
        height: 39px;
        font-size: 12px;
    }

    .heading-2{
        font-size: 22px;
        padding-left: 50px;
    }
    .pictures{
        padding-left: 5vw;
    }
    .carousel-image{
        min-width: 37vw;
        margin: 0 6px;
    }
    .scroll-button-l {
        padding: 8px 10px;
        font-size: 13px; 
    }
    .scroll-button-r {
        padding: 8px 10px;
        font-size: 13px;
        margin-left: 1vw; 
    }
    .screen-3{
        height:980px
    }
    .project-box-1{
        display: none;
    }
    .project-box-s{
        display: none;
    }
    .project-box-1m{
        display: flex;
        height: 59vh;
        width: 70vw;
        padding-left: 40px;
    }
    .project-text-m{
        font-size: 14px;
        width: 60vw;
    }
    .tech-1{
        font-size: 18px;
    }
    .project-text-1m{
        font-size: 14px;
        width: 79vw;
    }
    .project-text-1m-git{
        font-size: 14px;
        width: 74vw;
    }
}

@media(max-width:670px){
    .back-btn{
        width: 80px;
        height: 38px;
        font-size: 11px;
    }
    .heading-2{
        font-size: 19px;
        padding-left: 45px;
    }
    .pictures{
        width: 95vw;
        padding-left: 5vw;
    }
    .carousel-image{
        min-width: 37vw;
        margin: 0 6px;
    }
    .scroll-button-l {
        padding: 7px 9px;
        font-size: 12px; 
    }
    .scroll-button-r {
        padding: 7px 9px;
        font-size: 12px;
        margin-left: 1vw; 
    }
    .screen-3{
        height:920px
    }
    .project-box-1{
        display: none;
    }
    .project-box-s{
        display: none;
    }
    .project-box-1m{
        display: flex;
        height: 56vh;
        width: 77vw;
        padding-left: 35px;
    }
    .project-text-m{
        font-size: 13px;
        width: 60vw;
    }
    .tech-1{
        font-size: 18px;
    }
    .project-text-1m{
        font-size: 13px;
         width: 70vw;
         padding-bottom: 10px;
    }
    .project-text-1m-git{
        font-size: 13px;
        width: 74vw;
    }
}

@media(max-width:570px){
    .back-btn{
        width: 80px;
        height: 38px;
        font-size: 11px;
    }
    .heading-2{
        font-size: 17px;
        padding-left: 40px;
    }
    .pictures{
        width: 94vw;
        padding-left: 5vw;
    }
    .carousel-image{
        min-width: 36vw;
        margin: 0 6px;
    }
    .scroll-button-l {
        padding: 6px 7px;
        font-size: 11px; 
    }
    .scroll-button-r {
        padding: 6px 7px;
        font-size: 11px;
        margin-left: 1vw; 
    }
    .screen-3{
        height:900px
    }
    .project-box-1{
        display: none;
    }
    .project-box-1m{
        display: none;
    }
    .project-box-s{
        display: flex;
        height: 56vh;
    }
    .project-text-s{
        font-size: 12.5px;
        width: 71vw;
    }
    .tech-1{
        font-size: 15px;
    }
    .project-text-1s{
        font-size: 12.5px;
        width: 74vw;
        padding-bottom: 100px;
    }
    .project-text-1s-git{
        font-size: 12px;
        width: 74vw;
    }
}

@media(max-width:480px){
    .back-btn{
        width: 75px;
        height: 37px;
        font-size: 10px;
        margin-left: 70vw;
    }
    .heading-2{
        font-size: 15px;
        padding-left: 35px;
    }
    .pictures{
        width: 90vw;
        padding-left: 5vw;
    }
    .carousel-image{
        min-width: 33vw;
        margin: 0 6px;
    }
    .scroll-button-l {
        padding: 6px 7px;
        font-size: 11px; 
    }
    .scroll-button-r {
        padding: 6px 7px;
        font-size: 11px;
        margin-left: 1vw; 
    }
    .screen-3{
        height:850px
    }
    .project-box-1{
        display: none;
    }
    .project-box-1m{
        display: none;
    }
    .project-box-s{
        display: flex;
        height: 50vh;
    }
    .project-text-s{
        font-size: 11px;
        width: 73vw;
    }
    .tech-1{
        font-size: 15px;
    }
    .project-text-1s{
        font-size: 11px;
        width: 73vw;
        padding-bottom: 10px;
    }
    .project-text-1s-git{
        font-size: 11px;
        width: 74vw;
    }

}

@media(max-width:420px){
    .back-btn{
        width: 75px;
        height: 37px;
        font-size: 15px;
        margin-left: 70vw;
    }
    .heading-2{
        font-size: 14px;
        padding-left: 30px;
    }
    .pictures{
        width: 97vw;
        padding-left: 15px;
        padding-right: 5px;
    }
    .carousel-image{
        min-width: 35vw;
        margin: 0 5px;
    }
    .scroll-button-l {
        padding: 6px 7px;
        font-size: 10px;  
    }
    .scroll-button-r {
        padding: 6px 7px;
        font-size: 10px;
        margin-left: 5px; 
    }
    .screen-3{
        height:820px
    }
    .project-box{
        display: none;
    }
    .project-box-m{
        display: none;
    }
    .project-box-s{
        display: flex;
    }
    .project-text-1s-git{
        font-size: 10.5px;
        width: 74vw;
    }

}

